
#bgr1 {

  background: url(../components/banner/bg-1.jpg) bottom right no-repeat;
  height: 720px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  color: black;

}
